.link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}
#dot{
    height: 10px;
    width: 10px;
    display: inline-block;
    background-color: yellow;
}
#temp{
    opacity: 40%;
}
.link a{
    color: black;
}
.link i{
    transform: rotate(-45deg);
}
.port{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    color: white;
}
.image img{
    height: 500px;
    width: 800px;

}
.content h1{
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    margin-right: 85px;
}
.content h3{
    background-color: rgb(45, 33, 134);
    padding: 0px 5px 10px 40px;
    border-radius: 5px;
    width: 300px;
}
.content h3 span{
    font-size: 20px;
    font-weight: 1000;
    margin-left: 8px;
}
.content h3 strong{
    font-size: 30px;
    font-family:cursive;
    font-weight: 1400;
}

.welcome{
    /* padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 20px; */
    padding: 60px;
    background-color: whitesmoke;
}
.welcome h1{
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
    
}
.welcome p{
    font-size: 25px;

}
h1{
    padding-left: 80px;
    padding-top: 50px;
    font-size: 40px;
}
.assets{
    margin: 80px 80px 0px 80px;
    background-color: whitesmoke;
    

}
.assets h2{
    font-size: 40px;
}
.assets p{
    font-size: 19px;
    line-height: 1.6;
}

#see i{
    transform: rotate(-45deg);

}
#see a{
    color: black;
    font-size: 19px;
}
#see a:hover{
    background-color: blue;
}

.web{
    
}
#w{
    height: 30px;
    width: 30px;
    background-color: blue;
    padding: 20px;
    font-size: 30px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.template{
    display: flex;
    justify-content: space-evenly;
    background-color: whitesmoke;
    align-items: center;
}
#live i{
    transform: rotate(-45deg);
}
#live a{
    color: black;
}
#live:hover{
    background-color:gray;
}
#get i{
    transform: rotate(-45deg);
}
#get a{
    color: black;
}
#get:hover{
    background-color: rgb(157, 157, 170);
    

}